<% provide(:title, "My Timeline") %>
<form id="display_my_canvas" action="/timeline_events/display_timeline" method="post">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<!-- 	<input type="submit" value="display_form"> -->
</form>

<div class="button_container">
<!-- 	<button id="button_add_event" class="button"><strong>+</strong> timeline event</button> -->
</div>




<!-- <div class="add_timeline_event_container"> -->
	<div id="add_timeline_event">
		<div>
		<%= simple_form_for @timeline_event, html: {:id => "new_timeline_event_form"} do |f| %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<label for="game_name" class="pull-left label">SEARCH GAMES</label>
			<input type="text" class="game_search input-field pull-left clear" name="game_name">
			<div id="game_id"></div>
			<label for="timeline_event[start_date]">START DATE</label>
			<input type="text" class="startdatepicker input-field pull-left clear" name="timeline_event[start_date]">
			<label for="timeline_event[end_date]">END DATE</label>
			<input type="text" class="enddatepicker input-field pull-left clear" name="timeline_event[end_date]">
			<%= f.button :submit, :value => "create timeline event", :class=> "button pull-left clear" %>
		<% end %>
		<a class="close pull-right clear" href="javascript:closeAddTimelineEvent()">close</a>
		</div>
	</div>	
<!-- </div> -->

<div class="content_top">
	<!-- <button id="button_add_event" class="button"><strong>+</strong> Timeline Event</button> -->
	<div id="canvas_console"><button id="button_add_event"><span>+</span></button></div>
</div>

<div class="content_left pull-left">
	<div id="canvas_intervals"></div>
</div>

<div id="canvas_container" style="overflow: auto;">
	<div id="canvas_area"></div>

</div>

