/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body 
{
	margin: 0px;
}

.container
{
	
	margin:0 auto;
	/*background-color: #F0F0F0;*/
	/*background-image: url("binding_dark.png");*/
	/*background-image: url("../images/binding_dark.png");*/
}

div.splash_title 
{
	position:absolute;
	margin:-280px 0px 0px 470px;

}

	div.splash_title h1
	{
		margin:0px;
		padding:0px;
		font-size:50px;
	}

	div.splash_title h1 a
	{
		text-decoration: none;
		color: black;
		font-family: 'Geo', Impact, sans-serif;
	}




/* End Header*/



.content_holder
{
	margin:0 auto;
	width:1100px;
}

	.content_top
	{
		/*padding:140px 0px 0px 0px;*/
		/*position:fixed;*/
		z-index:2;
		background-color:#2D2D2D;

	}

	.content_left
	{
		float:left;
		color:black !important;
		padding:0px 0px 0px 0px;
		/*background-color:blue;*/
		width:50px;
		margin:0px 0px 0px -60px;
	}


	.main_content
	{
		float:left;
		width:1100px;
		min-height:500px;
		/*margin:0 auto;*/
		background-color:white;
		padding:0px 0px 0px 0px;
		margin:30px 0px 50px 0px;
	}

		.main_content .button_container
		{
			background-color:red;
			width:1100px;
			position:relative;
			
		}












/* forms */
.label
{
	font-family:Arial;
	font-size:13px;
	margin:10px 0px 6px 0px;
}

.input-field
{
	width:326px;
	background-color:#F0F0F0;
	border:1px solid #CFCFCF;
	height:40px;
	font-size:24px;
	font-family:Arial;
	outline:none;
}
/* end form inputs */



/* General Purpose Styling */

.remove_text_dec
{
	text-decoration: none;
}

.right
{
	right:0;
}

.line-break
{
	border-bottom: 1px solid #5398C9;
}

.vertical-break-line
{
	border-right: 1px solid #5398C9;
}

.center
{
	margin:0px auto;
}

.pull-right
{
	float:right;
}

.pull-left
{
	float:left;
}

.clear
{
	clear:both;
}


