.button {
	border: 0;
	/*background-color:black;*/
	background-color:#5298C9;
	/*background-color:gray;*/
	color:white;
	padding:14px;
	font-size: 14px;
	/*font-family:Arial;*/
	font-family:tahoma;
	margin:10px 0px 10px 0px;
	min-width:30px;
	&:hover {
		background-color:#4988b4;
		cursor: pointer;
		cursor: hand;
	}
}


.button_like {
	border: 0;
	/*background-color:black;*/
	background-color:#5298c9;
	/*background-color:gray;*/
	color:white;
	padding:14px;
	font-size: 14px;
	/*font-family:Arial;*/
	font-family:tahoma;
	margin:0px 0px 0px 10px;
	padding:5px;
	min-width:30px;
	font-weight: bold;
	&:hover {
		background-color:#4988b4;
		cursor: pointer;
		cursor: hand;
	}	
}

.button_delete {
	border: 0;
	/*background-color:black;*/
	background-color:#5298c9;
	/*background-color:gray;*/
	color:white;
	padding:14px;
	font-size: 12px;
	/*font-family:Arial;*/
	font-family:tahoma;
	margin:0px 0px 0px 0px;
	padding:2px;
	min-width:0px;
	&:hover {
		background-color:#4988b4;
		cursor: pointer;
		cursor: hand;
	}	
}

	#button_add_event
	{
/*		position:absolute;
		right:0;
		z-index:300;*/
		/*bottom:100%;*/
		width:40px;
		height:40px;
		border:0px;
		/*margin-left:1060px;*/
		float:right;
		z-index:500;
		/*margin-top:-67px;*/
		/*background-color:gray;*/
		background-color:#5298C9;
		margin-top:0px;
		margin-bottom:0px;
		/*color:black;*/
		span {
			font-weight: none;
			font-size:18px;
			color:white;
		}
		&:hover {
			background-color:#4988b4;
			cursor: pointer;
			cursor: hand;
		}

	}